@font-face {
  font-family: 'Calibre-Regular';
  src: url('./fonts/Calibre-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Calibre-Medium';
  src: url('./fonts/CalibreWeb-Medium.woff') format('woff');
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #f1f1f2;
}

@media (min-width: 960px) {
  #container {
    height: 384px;
  }
}

@media (max-width: 959px) and (min-width: 600px) {
  #container {
    height: 304px;
  }
}

#container {
  background-color: white;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  margin-left: 0;
}

#inner {
  display: inline-block;
  position: relative;
  height: 100%;
}

.picDiv {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
}

.picDiv:not(:first-child) {
  margin-left: 4px;
}

.picDiv:nth-child(odd) {
  width: 384px;
}

@media (max-width: 959px) and (min-width: 600px) {
  .picDiv:nth-child(odd) {
    width: 304px;
  }
}

.picDiv:nth-child(even) {
  width: 190px;
}

@media (max-width: 959px) and (min-width: 600px) {
  .picDiv:nth-child(even) {
    width: 150px;
  }
}

.onePic-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.onePic-wrapper {
  flex: 1;
}

@media (min-width: 960px) {
  .onePic-wrapper {
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    background-size: cover;
  }
}

.onePic-zoom {
  height: 100%;
  transition: transform 0.2s;
}

@media (min-width: 960px) {
  .onePic-zoom:hover {
    transform: scale(1.02);
    -webkit-filter: brightness(90%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.onePic-col .onePic-wrapper:not(:first-child) {
  margin-top: 4px;
}

.onePic-col img {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

#button {
  color: #101820;
  font: 15px/20px 'Calibre-Regular';
  letter-spacing: 0.013em;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  border: 0;
}

@media (min-width: 600px) {
  #button {
    background-color: rgba(16, 24, 32, 0.75);
    position: absolute;
    height: 40px;
    padding-right: 10px;
    padding-left: 16px;
    right: 40px;
    top: calc(50% - 305px);
  }

  #button:hover {
    background-color: rgba(16, 24, 32);
  }
}

#buttonName {
  color: white;
  font: 12px/40px 'Calibre-Regular';
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

svg {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  stroke-width: 1.5px;
}

#modalContent {
  background-color: rgba(16, 24, 32, 0.95);
  box-sizing: border-box;
  padding: 0 40px 40px;
  text-align: center;
  z-index: 600;
  margin-top: 0;
}

.popup-img {
  display: inline-block;
}

.popup-img img {
  height: 400px;
  width: 400px;
  margin: 4px;
  box-sizing: border-box;
}

#plusTitle {
  color: white;
  font: 18px/20px 'Calibre-Medium';
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  #modalHeader {
    margin: 28px 0;
    text-align: center;
  }
}

.onePicHeader {
  background-color: rgba(16, 24, 32, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.onePicHeader span {
  display: inline-block;
  color: white;
  padding: 28px 0;
  text-align: center;
  font: 18px/20px 'Calibre-Medium';
  letter-spacing: 0.086em;
  text-transform: uppercase;
  justify-content: center;
}

.onePicImg {
  background-color: rgba(16, 24, 32, 0.95);
  max-height: calc(100% - 52px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.onePicContainer {
  display: flex;
  position: relative;
  max-height: calc(100% - 52px);
  object-fit: contain;
}

.onePicImg img {
  max-height: 100%;
  max-width: 100%;
  min-height: 1px;
  min-width: 1px;
}

.showAll {
  border-right: 1px solid #656666;
  cursor: pointer;
  margin: 4px 11px 4px 0;
  padding-right: 16px;
}

.showAll-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  top: 23px;
}

.close {
  display: inline-block;
  margin-right: 30px;
}

.fa-2x {
  color: white;
}

.pictureNum {
  font: 15px/20px 'Calibre-Regular';
  letter-spacing: 0.013em;
  color: white;
  margin-right: 20px;
  display: inline-block;
}

.onePicButton {
  display: inline-block;
  fill: white;
  height: 40px;
  align-self: center;
  margin: 40px;
  width: 40px;
}

.onePicButton:hover {
  fill: black;
  cursor: pointer;
}
